.box {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}

.overlay-chart {
    width: 850px;
    height: 550px;
    background: white;
    z-index: 11;
}

.overlay-nodata {
    width: 350px;
    height: 50px;
    background: white;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    background-color: #000000;
}

.overlay-permission-denied {
    width: 450px;
    height: 50px;
    background: white;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    background-color: #000000;
}


#nodata {
    bottom: 50px;
    right: 50px;
}

#nodata p {
    padding-left: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
}

#permission-denied {
    bottom: 50px;
    right: 50px;
}

#permission-denied p {
    padding-left: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 15px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slideIn 0.1s forwards;
}


.close-button-container {
    position: absolute;
    right: 20px;
    top: 0;
}

.close-button-container-nodata {
    position: absolute;
    right: 15px;
    top: 13px;
}

#close-button, #close-button-nodata, #close-button-permission-denied {
    background-color: transparent;
    border: none;
    color: #6E6E6E;
    cursor: pointer;
    transition: color 0.1s;
    font-size: 20px;
    font-weight: bold;
}

#close-button:hover, #close-button-nodata:hover, #close-button-permission-denied:hover {
    color: white;
}

.chart-header{
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    display: inline;
    font-size: 20px
}

#ps-location{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #000000
}

.ps-date{
    margin: 0;
    font-family: 'Helvetica';
    font-size: 12px;
    color: #868686;
}


#ps-feature-info {
    border-collapse: collapse;
    width: 100%;
}

#ps-feature-info th, #ps-feature-info td {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-family: 'Helvetica'
}

#ps-feature-info tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ps-feature-info tr:first-child {
    margin-top: 20px;
}